/* Stylesheet for PrimeEvents website */
/*root variables for colors and transitions*/
:root {
    --primary-color: #0288d1;
    --secondary-color: #f50057;
    --dark-light: #333;
    --light-color: #fff;
    --gray-color: #ccc;

    --body-font: 'Poppins', sans-serif;
    --transition: all 0.3s ease;  
    --shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  
    --radius:12px;
    --max-width:1200px;
}
/* Global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: var(--body-font);
    margin: 0;
    padding: 0;
    background-color: var(--light-color);
    color: var(--dark-light);
}
img {
    width: 100%;
    display:block;
}
ul{
    list-style: none;
}
input
, textarea,button,select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid var(--gray-color);
    border-radius: var(--radius);
}
.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: var(--radius);
}
section {
    padding: 80px 0px;
}
/*style for navigation bar*/
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
    background-color: rgba(22,22,26,0.9);
    padding: 20px;
    text-align: center;
    backdrop-filler: blur(10px);
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    color: var(--light-color);
}
.nav-links {
    display: flex;
    gap: 20px;
}   
.nav-links a {
    content: '';
    width:0;
    background: var(--primary-color);
    position: absolute;
    left: 0;  
    bottom: -5px;
    text-decoration: none;
    font-size: 18px;
    transition: var(--transition);
}
.nav-links a:hover {
    color: var(--primary-color);
    font-size: 20px;
    transition: var(--transition);
}
menu-toggle {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
/* Style for the main content */
main {
    padding: 20px;
    text-align: center;
}
main img {
    width: 300px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
}   
footer {
    background-color: #0288d1;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
/*style for images event page*/
.event-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}
/*style for video event page*/
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}
/*style for event2 page*/
.event2-details {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e1f5fe;
    border-radius: 10px;}
/*for contact page*/
.contact-info {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e1f5fe;
    border-radius: 10px;
}   
.contact-info h2 {
    margin-top: 0;
}
.contact-info p {
    margin: 10px 0;
}
.contact-info a {
    color: #0288d1;
    text-decoration: none;
}
/*style for social-icon*/
.social-icons {
    width: 45px;
    height: 45px;
    align-items: center;
    display: flex;
    justify-content: center;
    background: var(--dark-light);
    border-radius: 50%;
    transition: var(--transition);
    margin-top: 20px;

}
.social-icons a:hover {
    color: var(--primary-color);
    font-size: 20px;
    transition: var(--transition);
}

